/* Navigation styling */
header {
  width: 200px;
  cursor: pointer;
}

header h1,
nav li {
  text-transform: uppercase;
}

header nav li {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
}

header nav li:hover {
  border-bottom-color: #45e9f5;
}